In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [3]:
df1 = pd.read_csv('/content/drive/MyDrive/data/FalseTrainData.csv')

In [4]:
df1.head()

   Unnamed: 0  ...               date
0           0  ...  December 31, 2017
1           1  ...  December 31, 2017
2           2  ...  December 30, 2017
3           3  ...  December 29, 2017
4           4  ...  December 25, 2017

[5 rows x 5 columns]

In [5]:
df1['output'] = ["0"]*df1.shape[0]

In [6]:
df1.pop('Unnamed: 0')

0            0
1            1
2            2
3            3
4            4
         ...
14995    14995
14996    14996
14997    14997
14998    14998
14999    14999
Name: Unnamed: 0, Length: 15000, dtype: int64

In [7]:
df1.head()

                                               title  ... output
0   Donald Trump Sends Out Embarrassing New Year’...  ...      0
1   Drunk Bragging Trump Staffer Started Russian ...  ...      0
2   Sheriff David Clarke Becomes An Internet Joke...  ...      0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4   Pope Francis Just Called Out Donald Trump Dur...  ...      0

[5 rows x 5 columns]

In [8]:
df2 = pd.read_csv('/content/drive/MyDrive/data/TrueTrainData.csv')

In [9]:
df2.head()

   Unnamed: 0  ...                date
0           0  ...  December 31, 2017
1           1  ...  December 29, 2017
2           2  ...  December 31, 2017
3           3  ...  December 30, 2017
4           4  ...  December 29, 2017

[5 rows x 5 columns]

In [10]:
df2['output'] = ["1"]*df2.shape[0]
df2.pop('Unnamed: 0')

0            0
1            1
2            2
3            3
4            4
         ...
14995    14995
14996    14996
14997    14997
14998    14998
14999    14999
Name: Unnamed: 0, Length: 15000, dtype: int64

In [11]:
df2.head()

                                               title  ... output
0  As U.S. budget fight looms, Republicans flip t...  ...      1
1  U.S. military to accept transgender recruits o...  ...      1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...      1
3  FBI Russia probe helped by Australian diplomat...  ...      1
4  Trump wants Postal Service to charge 'much mor...  ...      1

[5 rows x 5 columns]

In [12]:
df = pd.concat([df1, df2]).reset_index()
df.pop('date')

0         December 31, 2017
1         December 31, 2017
2         December 30, 2017
3         December 29, 2017
4         December 25, 2017
                ...
29995    November 13, 2017
29996    November 13, 2017
29997    November 13, 2017
29998    November 12, 2017
29999    November 13, 2017
Name: date, Length: 30000, dtype: object

In [13]:
df.tail()

       index  ... output
29995  14995  ...      1
29996  14996  ...      1
29997  14997  ...      1
29998  14998  ...      1
29999  14999  ...      1

[5 rows x 5 columns]

In [14]:
from sklearn.utils import shuffle

In [15]:
df = shuffle(df)

In [16]:
df.head()

       index  ... output
3761    3761  ...      0
528      528  ...      0
16056   1056  ...      1
3263    3263  ...      0
23595   8595  ...      1

[5 rows x 5 columns]

In [17]:
df.isnull().sum()

index      0
title      0
text       0
subject    0
output     0
dtype: int64

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
import re
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [19]:
stop_words = ["0o", "0s", "3a", "3b", "3d", "6b", "6o", "a", "a1", "a2", "a3", "a4", "ab", "able", "about", "above", "abst", "ac", "accordance", "according", "accordingly", "across", "act", "actually", "ad", "added", "adj", "ae", "af", "affected", "affecting", "affects", "after", "afterwards", "ag", "again", "against", "ah", "ain", "ain't", "aj", "al", "all", "allow", "allows", "almost", "alone", "along", "already", "also", "although", "always", "am", "among", "amongst", "amoungst", "amount", "an", "and", "announce", "another", "any", "anybody", "anyhow", "anymore", "anyone", "anything", "anyway", "anyways", "anywhere", "ao", "ap", "apart", "apparently", "appear", "appreciate", "appropriate", "approximately", "ar", "are", "aren", "arent", "aren't", "arise", "around", "as", "a's", "aside", "ask", "asking", "associated", "at", "au", "auth", "av", "available", "aw", "away", "awfully", "ax", "ay", "az", "b", "b1", "b2", "b3", "ba", "back", "bc", "bd", "be", "became", "because", "become", "becomes", "becoming", "been", "before", "beforehand", "begin", "beginning", "beginnings", "begins", "behind", "being", "believe", "below", "beside", "besides", "best", "better", "between", "beyond", "bi", "bill", "biol", "bj", "bk", "bl", "bn", "both", "bottom", "bp", "br", "brief", "briefly", "bs", "bt", "bu", "but", "bx", "by", "c", "c1", "c2", "c3", "ca", "call", "came", "can", "cannot", "cant", "can't", "cause", "causes", "cc", "cd", "ce", "certain", "certainly", "cf", "cg", "ch", "changes", "ci", "cit", "cj", "cl", "clearly", "cm", "c'mon", "cn", "co", "com", "come", "comes", "con", "concerning", "consequently", "consider", "considering", "contain", "containing", "contains", "corresponding", "could", "couldn", "couldnt", "couldn't", "course", "cp", "cq", "cr", "cry", "cs", "c's", "ct", "cu", "currently", "cv", "cx", "cy", "cz", "d", "d2", "da", "date", "dc", "dd", "de", "definitely", "describe", "described", "despite", "detail", "df", "di", "did", "didn", "didn't", "different", "dj", "dk", "dl", "do", "does", "doesn", "doesn't", "doing", "don", "done", "don't", "down", "downwards", "dp", "dr", "ds", "dt", "du", "due", "during", "dx", "dy", "e", "e2", "e3", "ea", "each", "ec", "ed", "edu", "ee", "ef", "effect", "eg", "ei", "eight", "eighty", "either", "ej", "el", "eleven", "else", "elsewhere", "em", "empty", "en", "end", "ending", "enough", "entirely", "eo", "ep", "eq", "er", "es", "especially", "est", "et", "et-al", "etc", "eu", "ev", "even", "ever", "every", "everybody", "everyone", "everything", "everywhere", "ex", "exactly", "example", "except", "ey", "f", "f2", "fa", "far", "fc", "few", "ff", "fi", "fifteen", "fifth", "fify", "fill", "find", "fire", "first", "five", "fix", "fj", "fl", "fn", "fo", "followed", "following", "follows", "for", "former", "formerly", "forth", "forty", "found", "four", "fr", "from", "front", "fs", "ft", "fu", "full", "further", "furthermore", "fy", "g", "ga", "gave", "ge", "get", "gets", "getting", "gi", "give", "given", "gives", "giving", "gj", "gl", "go", "goes", "going", "gone", "got", "gotten", "gr", "greetings", "gs", "gy", "h", "h2", "h3", "had", "hadn", "hadn't", "happens", "hardly", "has", "hasn", "hasnt", "hasn't", "have", "haven", "haven't", "having", "he", "hed", "he'd", "he'll", "hello", "help", "hence", "her", "here", "hereafter", "hereby", "herein", "heres", "here's", "hereupon", "hers", "herself", "hes", "he's", "hh", "hi", "hid", "him", "himself", "his", "hither", "hj", "ho", "home", "hopefully", "how", "howbeit", "however", "how's", "hr", "hs", "http", "hu", "hundred", "hy", "i", "i2", "i3", "i4", "i6", "i7", "i8", "ia", "ib", "ibid", "ic", "id", "i'd", "ie", "if", "ig", "ignored", "ih", "ii", "ij", "il", "i'll", "im", "i'm", "immediate", "immediately", "importance", "important", "in", "inasmuch", "inc", "indeed", "index", "indicate", "indicated", "indicates", "information", "inner", "insofar", "instead", "interest", "into", "invention", "inward", "io", "ip", "iq", "ir", "is", "isn", "isn't", "it", "itd", "it'd", "it'll", "its", "it's", "itself", "iv", "i've", "ix", "iy", "iz", "j", "jj", "jr", "js", "jt", "ju", "just", "k", "ke", "keep", "keeps", "kept", "kg", "kj", "km", "know", "known", "knows", "ko", "l", "l2", "la", "largely", "last", "lately", "later", "latter", "latterly", "lb", "lc", "le", "least", "les", "less", "lest", "let", "lets", "let's", "lf", "like", "liked", "likely", "line", "little", "lj", "ll", "ll", "ln", "lo", "look", "looking", "looks", "los", "lr", "ls", "lt", "ltd", "m", "m2", "ma", "made", "mainly", "make", "makes", "many", "may", "maybe", "me", "mean", "means", "meantime", "meanwhile", "merely", "mg", "might", "mightn", "mightn't", "mill", "million", "mine", "miss", "ml", "mn", "mo", "more", "moreover", "most", "mostly", "move", "mr", "mrs", "ms", "mt", "mu", "much", "mug", "must", "mustn", "mustn't", "my", "myself", "n", "n2", "na", "name", "namely", "nay", "nc", "nd", "ne", "near", "nearly", "necessarily", "necessary", "need", "needn", "needn't", "needs", "neither", "never", "nevertheless", "new", "next", "ng", "ni", "nine", "ninety", "nj", "nl", "nn", "no", "nobody", "noone", "nor", "normally", "noted", "nothing", "novel", "now", "nowhere", "nr", "ns", "nt", "ny", "o", "oa", "ob", "obtain", "obtained", "obviously", "oc", "od", "of", "off", "often", "og", "oh", "oi", "oj", "ok", "okay", "ol", "old", "om", "omitted", "on", "once", "one", "ones", "only", "onto", "oo", "op", "oq", "or", "ord", "os", "ot", "other", "others", "otherwise", "ou", "ought", "our", "ours", "ourselves", "out", "outside", "over", "overall", "ow", "owing", "own", "ox", "oz", "p", "p1", "p2", "p3", "page", "pagecount", "pages", "par", "part", "particular", "particularly", "pas", "past", "pc", "pd", "pe", "per", "perhaps", "pf", "ph", "pi", "pj", "pk", "pl", "placed", "please", "plus", "pm", "pn", "po", "poorly", "possible", "possibly", "potentially", "pp", "pq", "pr", "predominantly", "present", "presumably", "previously", "primarily", "probably", "promptly", "proud", "provides", "ps", "pt", "pu", "put", "py", "q", "qj", "qu", "que", "quickly", "quite", "qv", "r", "r2", "ra", "ran", "rather", "rc", "rd", "re", "readily", "really", "reasonably", "recent", "recently", "ref", "refs", "regarding", "regardless", "regards", "related", "relatively", "research", "research-articl", "respectively", "resulted", "resulting", "results", "rf", "rh", "ri", "right", "rj", "rl", "rm", "rn", "ro", "rq", "rr", "rs", "rt", "ru", "run", "rv", "ry", "s", "s2", "sa", "said", "same", "saw", "say", "saying", "says", "sc", "sd", "se", "sec", "second", "secondly", "section", "see", "seeing", "seem", "seemed", "seeming", "seems", "seen", "self", "selves", "sensible", "sent", "serious", "seriously", "seven", "several", "sf", "shall", "shan", "shan't", "she", "shed", "she'd", "she'll", "shes", "she's", "should", "shouldn", "shouldn't", "should've", "show", "showed", "shown", "showns", "shows", "si", "side", "significant", "significantly", "similar", "similarly", "since", "sincere", "six", "sixty", "sj", "sl", "slightly", "sm", "sn", "so", "some", "somebody", "somehow", "someone", "somethan", "something", "sometime", "sometimes", "somewhat", "somewhere", "soon", "sorry", "sp", "specifically", "specified", "specify", "specifying", "sq", "sr", "ss", "st", "still", "stop", "strongly", "sub", "substantially", "successfully", "such", "sufficiently", "suggest", "sup", "sure", "sy", "system", "sz", "t", "t1", "t2", "t3", "take", "taken", "taking", "tb", "tc", "td", "te", "tell", "ten", "tends", "tf", "th", "than", "thank", "thanks", "thanx", "that", "that'll", "thats", "that's", "that've", "the", "their", "theirs", "them", "themselves", "then", "thence", "there", "thereafter", "thereby", "thered", "therefore", "therein", "there'll", "thereof", "therere", "theres", "there's", "thereto", "thereupon", "there've", "these", "they", "theyd", "they'd", "they'll", "theyre", "they're", "they've", "thickv", "thin", "think", "third", "this", "thorough", "thoroughly", "those", "thou", "though", "thoughh", "thousand", "three", "throug", "through", "throughout", "thru", "thus", "ti", "til", "tip", "tj", "tl", "tm", "tn", "to", "together", "too", "took", "top", "toward", "towards", "tp", "tq", "tr", "tried", "tries", "truly", "try", "trying", "ts", "t's", "tt", "tv", "twelve", "twenty", "twice", "two", "tx", "u", "u201d", "ue", "ui", "uj", "uk", "um", "un", "under", "unfortunately", "unless", "unlike", "unlikely", "until", "unto", "uo", "up", "upon", "ups", "ur", "us", "use", "used", "useful", "usefully", "usefulness", "uses", "using", "usually", "ut", "v", "va", "value", "various", "vd", "ve", "ve", "very", "via", "viz", "vj", "vo", "vol", "vols", "volumtype", "vq", "vs", "vt", "vu", "w", "wa", "want", "wants", "was", "wasn", "wasnt", "wasn't", "way", "we", "wed", "we'd", "welcome", "well", "we'll", "well-b", "went", "were", "we're", "weren", "werent", "weren't", "we've", "what", "whatever", "what'll", "whats", "what's", "when", "whence", "whenever", "when's", "where", "whereafter", "whereas", "whereby", "wherein", "wheres", "where's", "whereupon", "wherever", "whether", "which", "while", "whim", "whither", "who", "whod", "whoever", "whole", "who'll", "whom", "whomever", "whos", "who's", "whose", "why", "why's", "wi", "widely", "will", "willing", "wish", "with", "within", "without", "wo", "won", "wonder", "wont", "won't", "words", "world", "would", "wouldn", "wouldnt", "wouldn't", "www", "x", "x1", "x2", "x3", "xf", "xi", "xj", "xk", "xl", "xn", "xo", "xs", "xt", "xv", "xx", "y", "y2", "yes", "yet", "yj", "yl", "you", "youd", "you'd", "you'll", "your", "youre", "you're", "yours", "yourself", "yourselves", "you've", "yr", "ys", "yt", "z", "zero", "zi", "zz",]

In [20]:
corpus = []
for i in range(0, len(df)):
    subdata = re.sub('[^a-zA-Z]', ' ', df['title'][i])
    subdata = subdata.lower()
    subdata = subdata.split()
    
    subdata = [ps.stem(word) for word in subdata if not word in stop_words]
    subdata = ' '.join(subdata)
    corpus.append(subdata)

In [21]:
len(corpus)

30000

In [ ]:
import pickle

In [ ]:
f = open("cv.pickel", "rb")
cv = pickle.load(f)
f.close()

In [22]:
X_train = cv.transform(corpus).todense()

In [24]:
from sklearn.naive_bayes import MultinomialNB

In [25]:
model=MultinomialNB()

In [26]:
model.fit(X_train,df['output'].values)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
f = open("model.pickel", "wb")
pickle.dump(model, f)
f.close()

In [27]:
df_t1 = pd.read_csv('FalseTestData.csv')

In [28]:
df_t2 = pd.read_csv('TrueTestData.csv')

In [29]:
df_t1['output'] = ["0"]*df_t1.shape[0]
df_t1.pop('Unnamed: 0')
df_t2['output'] = ["1"]*df_t2.shape[0]
df_t2.pop('Unnamed: 0')

0       15000
1       15001
2       15002
3       15003
4       15004
        ...
6412    21412
6413    21413
6414    21414
6415    21415
6416    21416
Name: Unnamed: 0, Length: 6417, dtype: int64

In [30]:
df_t1.pop('date'),df_t2.pop('date')

(0           Oct 30, 2015
 1           Oct 30, 2015
 2           Oct 30, 2015
 3           Oct 30, 2015
 4           Oct 30, 2015
               ...
 8476    January 16, 2016
 8477    January 16, 2016
 8478    January 15, 2016
 8479    January 14, 2016
 8480    January 12, 2016
 Name: date, Length: 8481, dtype: object, 0       November 13, 2017
 1       November 13, 2017
 2       November 12, 2017
 3       November 12, 2017
 4       November 12, 2017
                ...
 6412      August 22, 2017
 6413      August 22, 2017
 6414      August 22, 2017
 6415      August 22, 2017
 6416      August 22, 2017
 Name: date, Length: 6417, dtype: object)

In [31]:
cleaned_title_false = []
for i in range(0, len(df_t1)):
    subdata = re.sub('[^a-zA-Z0-9]', ' ', df_t1['title'][i])
    subdata = subdata.lower()
    subdata = subdata.split()
    
    subdata = [ps.stem(word) for word in subdata if not word in stop_words]
    subdata = ' '.join(subdata)
    cleaned_title_false.append(subdata)

In [32]:
false_test = cv.transform(cleaned_title_false).toarray()

In [33]:
cleaned_title_true = []
for i in range(0, len(df_t2)):
    subdata = re.sub('[^a-zA-Z0-9]', ' ', df_t2['title'][i])
    subdata = subdata.lower()
    subdata = subdata.split()
    
    subdata = [ps.stem(word) for word in subdata if not word in stop_words]
    subdata = ' '.join(subdata)
    cleaned_title_true.append(subdata)

In [34]:
true_test = cv.transform(cleaned_title_true).toarray()

In [35]:
from sklearn import metrics

In [36]:
pred_false = model.predict(false_test)
print(pred_false[:10])

['1' '1' '1' '1' '0' '1' '1' '0' '1' '1']

In [37]:
pred_true = model.predict(true_test)
print(pred_true[:10])

['0' '1' '1' '0' '0' '0' '1' '0' '0' '0']

In [38]:
false_score = metrics.accuracy_score(df_t1['output'].values,pred_false)
print(false_score)

0.4989977596981488

In [39]:
true_score = metrics.accuracy_score(df_t2['output'].values,pred_true)
print(true_score)

0.5619448340345956